@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* same style elements common in the pages */

ul {
  list-style: none;
}

body {
  font-family: sans-serif;  
  background-color: #F5F5F5;  
  color: #333333;  
  margin: 0;
  padding: 2rem;
  line-height: 1.5; 
}

#nav {
  background-color: #c0c0c0;
  overflow: hidden;  
  padding: 1rem 0;    
  text-align: center;  
}

#nav li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;  
}

#nav li a {
  text-decoration: none; 
  color: #000000; 
  transition: color 0.3s;
  font-weight: bold;
}

#nav li a:hover {
  color: blue;  
}

.video iframe {
  width: 100%;
  max-width: 20rem;  
  height: 15rem;   
  display: block;
  border: none;
}

a {
  text-decoration: underline; 
  color: #333333; 
  transition: color 0.3s;
  font-weight: bold;
}

a:hover {
  color: blue;
}

/* style elements for index page */

#index h1, #index h2, #info {
  font-family: 'Dancing Script', cursive;
}

#index strong {
  font-weight: bold;
  color: #666666;
  line-height: 1.6;
}

#index em {
  font-style: italic;
  color: #666666; 
  line-height: 1.6;
}

.logo {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#profile-photo {
  width: 75px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid #333333;
}

#index h1 a,
#index h2 a {
  color: #333333;
}

#index h1 a:hover,
#index h2 a:hover {
  color: blue;
}

/* style elements for expereinces page */

#experiences-main h1 {
  font-size: 2.5rem;
  border-bottom: 2px solid #666666;
  margin-bottom: 1rem;
}

#experiences-main .internship, #azure-info {
  float: left;
  background-color: #F7F7F7;  
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;  
}

#experiences-main em {
  float: left;
  color: #888888;  
  font-style: italic;
}

#experiences-main ul {
  list-style: circle inside;  
}

#experiences-main #credits {
  font-size: 0.85rem;  
  color: #999999;  
  margin-top: 2rem;  
}

/* Style elements for class_projects page */

#class-projects-main h1 {
  float: left;
  font-size: 2.5rem;
  border-bottom: 0.15rem dashed #666666; 
  margin-bottom: 1.5rem;
}

#class-projects-main div {
  float: left;
  background-color: #EFEFEF;  
  border-radius: 3rem;
  margin-bottom: 1.5rem;
}

#class-projects-main div p:first-child {
  font-size: 1.4rem;  
  font-weight: bold;
  color: #555555;
  margin-bottom: 1rem;
}

#class-projects-main div strong {
  color: #444444;
}

#class-projects-main div em {
  color: #888888;
  font-style: italic;
}

